@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f9fafc;
  /*backup font here*/
  padding: 20px;
}

.main-content p {
  border-left: 2px solid #69696a;
  padding-left: 15px;
  font-size: 14px;
}

.main-content h1 {
  font-size: 25px;
  margin-bottom: 15px;
}

li {
  /*alt - list-style: none*/
  list-style-type: none;
  padding: 2px;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
}

.nav-link {
  margin: 0px;
  padding-top: 3px;
  padding-left: 0px;
  padding-bottom: 3px;
  padding-right: 0px;
  align-items: center;
}

.nav-link a {
  text-decoration: none;
  color: #69696a;
  /*width: fit-content*/
}

a:visited {
  text-decoration: none;
  color: #69696a;
}

.button {
  color: #fff;
  text-decoration: none;
  background-color: #000;
  border-radius: 20px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  display: inline-block;
  width: 100%;
  /*100% width will size the content, not the margin*/
  /*box-sizing: border-box;*/
}

.main-content p {
  margin-bottom: 20px;
}

.circle-container {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav-link {
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin: 0;
  }

  .nav-link li {
    margin-left: 10px;
  }

  .logo {
    flex-grow: 1;
  }

  .button {
    width: auto;
    padding: 5px 15px;
    margin: 0;
  }
  .main-content p {
    width: 50%;
  }

  .circle-container {
    display: block;
    position: relative;
    height: 250px;
    width: 250px;
    float: right;
  }

  .large-circle {
    position: absolute;
    border-radius: 50%;
    background-color: rgba(247, 136, 167, 0.6);
    height: 200px;
    width: 200px;
    right: 50px;
  }

  .small-circle {
    position: absolute;
    border-radius: 50%;
    background-color: rgba(207, 130, 213, 0.6);
    height: 100px;
    width: 100px;
    right: 0px;
    top: 50px;
  }

  .medium-circle {
    position: absolute;
    border-radius: 50%;
    background-color: rgba(247, 193, 162, 0.7);
    height: 150px;
    width: 150px;
    right: 0px;
    top: 100px;
  }

  main {
    display: flex;
    margin-top: 120px;
  }

  #scroll-down.button {
    position: fixed;
    bottom: 10px;
    width: auto;
    left: 45;
    right: 45%;
  }
}
